declare -- DEBUG="1"
declare -- FNAME="W Preston"
declare -- LNAME="Neal"
declare -- EMAIL="william.p.neal.ctr@navy.mil"
declare -- EMAIL2=""
declare -- PHONE="619.556.9680"
declare -- CELL="828.341.1017"
declare -- ORG="NIWC PACIFIC"
declare -- TKDIR="/h/USERS/$USER/toolkit"
declare -- TKPATH="$TKDIR/tk"
declare -- BINDIR="$TKDIR/bin"
declare -- SQLDIR="$TKDIR/sql"
declare -- ETCDIR="$TKDIR/etc"

